<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sweet Home</title>
    <style>
        *,*::after,*::before
        {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body{
            background-color: rgb(0, 39, 39);
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .wrap-container
        {
            text-align: center;
        }
        span:first-child
        {
            font-size: 6vw;
            color: cyan;
            text-transform: uppercase;
        }
        span:last-child a{
            font-weight: 700;
            color: white;
            text-transform: lowercase;
            letter-spacing: 0.8px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="wrap-container">
        <span>weather app running perfectly</span><br>
        <span> <a href="http://localhost:5173"> &rAarr; weatherapp.</a> </span>
    </div>
</body>

</html>